
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body {
    background-image: url(main.png);
    background-size: 2051px 1072px;
    background-repeat: no-repeat;
    background-position: center 187.2px ;

}

.start {
    width: 343px;
    height: 59px;
    border-radius: 60px;
    border-color: #F7DAD1;
    background-color: #D66861;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    line-height: 36.2px;
    color: white;
    position: absolute;
    left: 1008px;
    top: 766px;
    cursor: pointer;
    border-style: none;

}

:root {
    --primary-color: #d66861;
    --nav-text-color: #494949;
    --input-section-bg-color: #efefef;
    --input-section-sublabel-color: #464646;
    --input-section-underline-color: #595959;
    --size-btn-text-color: #929292;
    --size-btn-bg-color: white;
    --size-btn-active-text-color: white;
    --size-btn-active-bg-color: var(--primary-color);
    --deco-name-color: #3d3d3d;
  }
  
  .page-wrapper {
    width: 100vw;
    height: 100vh;
  }
  
  .row-t0 {
    display: flex;
    flex-direction: row;
  }
  
  .row-t1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-wrapper {
    position: fixed;
    background-color: white;
    top: 0px;
    width: 100vw;
    padding: 36px 120px;display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-wrapper .logo {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
  }
  
  .nav-wrapper button.icon {
    margin-left: 28px;
  }
  
  .nav-wrapper button img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .nav-wrapper a.nav-item {
    font-size: 24px;
    font-weight: bold;
    color: var(--nav-text-color);
    margin-left: 40px;
  }
  
  .nav-wrapper a.nav-item.active {
    display: inline-block;
    color: var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
    padding-bottom: 24px;
  }
  
  .content-wrapper {
    padding: 140px 120px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .input-section {
    width: calc(50vw - 120px);
    height: calc(100vh - 180px);
    background-color: var(--input-section-bg-color);
    border-radius: 30px;
    padding: 32px 28px;
    overflow-y: scroll;
  }
  
  .input-section .label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-section .sub-label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    color: var(--input-section-sublabel-color);
  }
  
  .input-section .sub-label .underline {
    width: 50px;
    margin-right: 12px;
    border-bottom: solid 2px var(--input-section-underline-color);
  }
  
  .size-btn-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
  }
  
  .size-btn-wrapper button.size-btn {
    padding: 10px 80px;
    font-size: 24px;
    border-radius: 60px;
    background-color: var(--size-btn-bg-color);
    color: var(--size-btn-text-color);
    margin-right: 12px;
    cursor: pointer;
  }
  
  .size-btn-wrapper button.active {
    background-color: var(--size-btn-active-bg-color);
    color: var(--size-btn-active-text-color);
  }
  
  .selection-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .selection-row .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 12px;
  }
  
  .selection-row .item img {
    width: 100%;
  }
  
  .selection-row .item .name {
    margin-top: 12px;
    text-align: center;
    color: var(--deco-name-color);
    font-size: 16px;
  }
  
  .complete-btn-row {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .complete-btn-row button {
    background-color: var(--primary-color);
    color: white;
    width: 314px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 24px;
  }
  